.about-us-banner {
  background-image: url("img/wondersites-about-us.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include tablet-portrait {
    height: 38vh;
  }

  @include desktop {
    height: 50vh;
  }

  @include widescreen {
    height: 60vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.55);
    max-width: none;

    @include tablet-portrait {
      height: 100%;
    }

    .about-banner-text {
      display: flex;
      flex-direction: column;
      text-align: center;

      @include tablet-landscape {
        margin-top: 60px;
      }

      h1 {
        color: #FFF;
        text-transform: uppercase;
        font-size: 3em;
        letter-spacing: 2px;
        font-family: 'AmaticSC-Regular', 'sans-serif';
        margin-bottom: 15px;

        @include tablet-portrait {
          font-size: 4em;
        }

        @include widescreen {
          font-size: 6em;
        }

        .blue {
          color: $color_blue;
        }
      }

      span {
        font-size: 1.2em;
        color: #FFF;
        padding-bottom: 15px;
        letter-spacing: 1.5px;

        @include tablet-portrait {
          font-size: 1.4em;
        }

        @include tablet-landscape {
          font-size: 1.8em;
        }
      }

      i {
        font-size: 3em;
        color: #FFF;
      }
    }
  }
}

.about-us-text-and-list {
  padding: 20px;
  font-size: 1.2em;
  letter-spacing: .8px;
  line-height: 26px;

  @include tablet-portrait {
    padding: 40px;
  }

  @include desktop {
    max-width: 1440px;
    margin: 0 auto;
  }

  .about-text {
    font-size: 18px;

    @include desktop {
      font-size: 21px;
    }

    .consultation {
      color: $color_blue;
    }
  }

  .about-list {
    margin-top: 50px;

    @include desktop {
      margin-top: 80px;
    }

    h2 {
      text-align: center;
      letter-spacing: 1.5px;
      line-height: 1.4em;
    }

    .list {
      display: flex;
      flex-direction: column;
      margin-top: 30px;

      @include tablet-landscape {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      span {
        margin-bottom: 25px;

        @include tablet-landscape {
          width: 45%;
          margin-bottom: 40px;
          letter-spacing: 1px;
          line-height: 27px;
        }

        i {
          color: green;
          padding-right: 15px;
        }
      }
    }
  }
}

.team-members {
  display: flex;
  flex-direction: column;
  margin: 50px 0;

  @include tablet-landscape {
    flex-direction: row;
    max-width: 1440px;
    margin: 20px auto;
  }

  .team-member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px 30px;
    margin: 60px 20px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, .10);

    @include tablet-portrait {
      margin: 60px 40px;
    }
    @include tablet-landscape {
      margin: 60px 20px;
    }

    img {
      border-radius: 50%;
      margin-top: -65px;
    }

    .name {
      font-family: 'AvenirNext-UltraLight', 'sans-serif';
      font-size: 25px;
      text-transform: uppercase;
      padding: 20px 0;
      font-weight: bold;
    }

    .bio {
      text-align: center;
      letter-spacing: 1px;
      line-height: 26px;
    }

    .member-social-media {
      margin: 20px 0;

      a {
        font-size: 30px;
        margin: 0 5px;
        color: $color_blue;
      }
    }
  }
}

.wondersites-partners {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet-portrait {
    margin: 20px 40px;
  }

  .text-container {
    text-align: center;

    @include tablet-landscape {
      max-width: 1024px;
    }

    h2 {
      font-size: 35px;
      letter-spacing: 1px;
    }

    p {
      line-height: 26px;
      letter-spacing: .8px;
    }
  }

  .featured-partner {
    background-color: $color_blue;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, .10);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px 30px;
    margin: 100px 0 40px;

    @include tablet-landscape {
      max-width: 1024px;
    }

    @include desktop {
      margin-bottom: 4em;
    }

    img {
      border-radius: 50%;
      margin: -65px;
      border: 7px solid #FFF;
    }

    .text {
      color: #FFF;
      padding-top: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      letter-spacing: .8px;
      line-height: 26px;

      .title {
        text-transform: uppercase;
        font-size: 15px;
        color: #000;
      }

      .name {
        font-family: 'AvenirNext-UltraLight', 'sans-serif';
        font-size: 25px;
        text-transform: uppercase;
        padding: 10px 0 5px;
      }

      .company {
        text-transform: uppercase;
      }

      .bio {
        padding: 15px 0;
        text-align: center;
      }
    }

    .partner-social-media {

      a {
        font-size: 30px;
        margin: 0 5px;
        color: #FFF;
      }
    }
  }

  h3 {
    font-size: 25px;
    text-align: center;
    letter-spacing: .8px;
  }

  .become-a-partner {
    margin: 20px 0 50px;
    letter-spacing: 1px;
  }
}