.contact-form-info {
  max-width: 1200px;
  margin: 0 auto;

  .contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet-landscape {
      margin-top: 45px;
    }

    h1 {
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }

    span {
      text-align: center;
      padding: 20px;
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 25px;
      max-width: 800px;
    }

    i {
      font-size: 40px;
    }
  }

  .info-form-container {
    @include tablet-portrait {
      display: flex;
      padding: 40px 0;
    }

    .contact-information {
      max-width: 300px;
      margin: 0 auto;

      @include desktop {
        max-width: 370px;
      }

      .contact-card {
        text-align: center;
        margin: 40px 0;

        @include widescreen {
          margin: 40px;
        }

        svg {
          width: 70px;

          @include tablet-portrait {
            width: 55px;
          }
        }

        h3 {
          font-size: 22px;
          letter-spacing: 1px;
          color: $color_blue;
          padding: 15px 0;
        }

        span, a {
          letter-spacing: 1px;
          line-height: 24px;
          font-size: 18px;
        }

        a {
          text-decoration: none;
          color: $color_orange;
        }
      }
    }

    .contact-form {
      @include tablet-portrait {
        width: 45%;
      }

      @include tablet-landscape {
        width: 56%;
      }
    }
  }
}

.consultation-booking-text {
  text-align: center;
  margin-bottom: 30px;

  @include tablet-portrait {
    width: 600px;
    margin: 0 auto;
    padding: 25px 0;
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
  }

  span {
    letter-spacing: 1px;
    color: $color_blue;

    @include tablet-portrait {
      font-size: 19px;
      padding: 15px 0;
    }
  }

  i {
    font-size: 40px;
    display: block;
  }
}

.calendly-inline-widget {
  iframe {
    .history {
      body.page-loaded {
        .branding {
          display: none;

          .badge {
            display: none;
          }
        }
      }
    }
  }
}