.main-footer {
  .footer-wrap {
    hr.footer-underline {
      width: 85%;
      height: 1px;
      background: $color_grey;
      border: 0;
      margin: 0 auto;

      @include tablet-landscape {
        width: 95%;
      }

      @include desktop {
        width: 100%;
      }
    }

    .logo-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px;

      @include tablet-portrait {
        flex-direction: row;
        justify-content: space-around;
      }

      @include tablet-landscape {
        align-items: end;
        justify-content: space-between;
      }

      .logo-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        @include tablet-portrait {
          align-items: flex-start;
        }

        @include tablet-landscape {
          margin-bottom: 0;
        }

        .catchphrase {
          text-align: center;
          padding: 20px 0;

          @include tablet-landscape {
            padding-bottom: 0;
          }
        }
      }

      .footer-social {
        text-align: center;

        @include tablet-landscape {
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
        }

        .footer-button {

          @include tablet-landscape {
            margin-right: 20px;
            margin-top: 0;
          }

          a {
            text-decoration: none;
            color: $color_orange;
            border: 1px solid $color_orange;
            padding: 10px;
            border-radius: 6px;
            transition: all .5s ease;
          }
        }

        .social-links {
          margin-top: 30px;

          @include tablet-landscape {
            margin-top: 0;
          }

          a i {
            color: $color_blue;
            font-size: 35px;
            padding: 0 5px;

            @include tablet-landscape {
              margin-right: 10px;
            }
          }
        }
      }

    }

    .footer-menu-section {
      .footer-menus {
        padding: 15px 25px;

        @include tablet-portrait {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 12px 60px;
        }

        @include tablet-landscape {
          padding: 15px 25px;
        }

        ul {
          list-style: none;
          padding-left: 10px;
          margin-bottom: 2em;

          @include tablet-portrait {
            flex-basis: 45%;
          }

          @include tablet-landscape {
            flex-basis: unset;
            padding-left: 0;
            margin-bottom: 0;
          }

          li {
            margin-bottom: 6px;

            &:first-child a {
              font-family: 'Avenir-Black', 'sans-serif';
            }

            a {
              font-family: 'Avenir-Book', 'sans-serif';
              text-decoration: none;
              color: $color_grey-dark;
            }
          }
        }
      }
    }

    .copyright {
      text-align: center;
      margin-bottom: 60px;
      margin-top: 60px;

      span {
        font-size: 15px;
        color: $color_grey;
      }
    }
  }
}