// GENERAL FOOTER SETTINGS

.main-footer {
  background: #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2em;

  .footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .copyright {
    color: #fff;
    font-size: .8em;
  }
}

// LOGO STYLING
.main-footer .logo {
  margin-bottom: 1em;

  .slogan {
    color: #fff;
    font-size: .9em;
    display: block;
    text-align: center;
  }
}

// MENU STYLING
.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    padding: .75em 0;
    text-align: center;

    &:not(:first-of-type):before {
      content: '';
      width: 2em;
      border-top: 1px solid dodgerblue;
      position: absolute;
      left: calc(50% - 1em);
      top: 0;

    }

    a {
      text-decoration: none;
      color: #ffffff;

      &:hover {
        color: #1d8eeb;
      }
    }

    &.button-quote {
      border: 1px solid orange;
      padding: 1em;
      border-radius: 6px;
      margin: 1em auto;

      &:before {
        content: none;
      }

      a {
        color: orange;
      }
    }
  }
}

@media screen and (min-width: 420px) {
  .footer-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      padding: 0 .75em;
      text-align: center;

      &:not(:first-of-type):not(:last-of-type):before {
        content: '\2022';
        color: dodgerblue;
        border: 0;
        left: -1em;
      }

      &.button-quote {
        width: auto;
      }
    }
  }
}

@media screen and (min-width: 580px) {
  .main-footer {
    .footer-menu ul {
      li.button-quote {
        width: 30%;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .main-footer .footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;

    .footer-menu ul {
      align-items: baseline;

      li.button-quote {
        margin: 0;
        padding: .5em;
        width: auto;
      }
    }
  }
}
