// Gravity Forms Styles overrides

.gform_wrapper {
  width: 90%;
  padding: 1em;
  position: relative;
}

.gform_wrapper form .gform_body{

  ul.gform_fields {
    list-style: none;
    margin: 0;
    padding: 0;

    li.gfield {
      position: relative;
    }

    li label.gfield_label {
      color: $color_text_grey;
      font-size: 17px;
      font-weight: 900;
      position: absolute;
      left: 15px;
      top: 33px;
      transition: all .5s ease;
      letter-spacing: 1.2;
      .gfield_required {
        display: none;
      }

      &.focused-or-filled {
        transition: all .5s ease;
        font-size: 1em;
        top: 6px;
        background: #FFF;
      }
    }

    li .ginput_container {
      textarea, input {
        width: 100%;
        border: 1px solid $color_text_grey;
        border-radius: 10px;
        margin: .75em 0;
        padding: .5em 0;
        padding-left: 15px;
        font-size: 1.5em;
        background: none;
        color: $color_grey;
        letter-spacing: 1.4px;
        
        &:focus {
          border: 1px solid $color_blue;
        }
      }
    }

    li .ginput_container textarea {
      height: 5em;
    }

    li .ginput_container input {
    }
  }

}


input:focus +label {

}
