// GENERAL HEADER SETTINGS
.main-header {
  background: #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0 0;

  @include tablet-landscape {
    flex-direction: row;
    justify-content: space-around;
  }
}


// LOGO STYLING
.main-header .logo {
  margin-bottom: 1em;

  a {
    text-decoration: none;
  }

  .slogan {
    color: #fff;
    font-size: .8em;
    display: block;
    text-align: center;
  }
}

// MENU STYLING
.icon-chevron-thin-down {
  transition: all 200ms ease-in-out;
  display: inline-block;

  &.rotated {
    transform: rotate(180deg);
  }
}

.mobile-menu-toggle {
  font-size: 1em;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  margin: .5em 0;

  @include tablet-portrait {
    display: none;
  }
}

.primary-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;

  @include tablet-portrait {
    display: flex;
    align-items: center;
  }

  li {
    position: relative;
    padding: .75em 0;
    text-align: center;

    &:not(.button-quote) {
      display: none;

      @include tablet-portrait {
        display: block;
        padding: 10px;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 1px;
      }
    }

    &:not(:first-of-type):before {
      content: '';
      width: 2em;
      border-top: 1px solid $color_blue;
      position: absolute;
      left: calc(50% - 1em);
      top: 0;

      @include tablet-portrait {
        display: none;
      }
    }

    a {
      text-decoration: none;
      color: #ffffff;

      &:hover {
        color: #1d8eeb;
      }
    }

    &.button-quote {
      font-size: 1.3em;
      border: 1px solid $color_orange;
      padding: 10px;
      border-radius: 6px;
      margin: 1em auto;
      transition: all .5s ease;
      position: relative;

      @include tablet-portrait {
        margin-left: 10px;
      }

      &:before {
        content: none;
      }

      a {
        color: $color_orange;
      }
    }
  }
}
