// GENERAL HEADER SETTINGS
.main-header {
  background: #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}


// LOGO STYLING
.main-header .logo {
  margin-bottom: 1em;

  .slogan {
    color: #fff;
    font-size: .6em;
    display: block;
    text-align: center;
    text-transform: uppercase;
  }
}

// MENU STYLING
.primary-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    padding: .75em 0;
    text-align: center;

    &:not(:first-of-type):before {
      content: '';
      width: 2em;
      border-bottom: 1px solid $color_blue;
      position: absolute;
      left: calc(50% - 1em);
      top: 0;
    }

    a {
      text-decoration: none;
      color: #ffffff;

      &:hover {
        color: #1d8eeb;
      }
    }

    &.button-quote {
      border: 1px solid $color_orange;
      padding: 1em;
      border-radius: 6px;
      margin: 1em auto;

      &:before {
        content: none;
      }

      a {
        color: $color_orange;
      }
    }
  }
}

@media screen and (min-width: 415px) {
  .primary-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      padding: 0 .75em;
      text-align: center;

      &:not(:first-of-type):not(:last-of-type):before {
        content: '\2022';
        color: $color_blue;
        border: 0;
        left: -1em;
      }

      &.button-quote {
        width: 30%
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .primary-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      padding: 0 .75em;
      text-align: center;
    }
  }
}

@media screen and (min-width: 1024px) {
  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;


    .primary-menu ul {
      align-items: baseline;

      li.button-quote {
          margin: 0;
          padding: .5em;
          width: auto;
      }
    }
  }
}
