.hero-banner {
  width: 100%;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  background: #000;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 12%, rgba(0,0,0,0.50) 100%);
  clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 35px), calc(50% + 35px) calc(100% - 35px), 50% 100%, calc(50% - 35px) calc(100% - 35px), 0 calc(100% - 35px));

  .banner-logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1em 0;
    padding: 0 .5em;

    .banner-devices {
      width: 44%;
    }
  }

  .banner-text-button{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      padding: .75em 0;
      line-height: 1.5em;
      font-weight: lighter;
      font-size: 1.5em;
    }

    .button-start-now {
      margin-bottom: 1em;
      padding: 1em 1.25em;
      text-transform: uppercase;
      border: 1px solid $color_blue_light;
      background: #000;
      border-radius: 6px;
      font-size: 1.25em;
      letter-spacing: 3px;
    }
  }
}

.homepage-services-section {
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    font-size: 1.5em;
    font-weight: 300;
    padding-bottom: 1em;
  }

  .container{
    .col {
      h1 {
        font-weight: 400;
        font-size: 1.6em;
        margin-bottom: .25em;
        padding: 0;
      }

      span {
        font-size: 1.25em;
        font-weight: 100;
      }

      p {
        padding: 1.5em 2.5em;
      }

      button {
        border: 1px solid $color_blue;
        border-radius: 3px;
        margin-bottom: 3em;
        background: white;
        color: $color_blue;
        padding: .5em 2em;
        font-size: 1em;
        font-weight: 100;
        letter-spacing: 1px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .banner-logo {
    align-items: baseline;
    width: 90%;
    margin: auto;
  }

    .banner-big-text{
      display: inline-block;
      height: 375px;
    }

    .banner-devices {
      display: inline-block;
      width: 50%;
      height: 345px;
    }

}

@media screen and (min-width: 1024px) {
  .hero-banner {
    .banner-logo {
      width: 80%;
      margin: auto;
    }
    .banner-text-button {
      padding: 1em;
      font-size: 2.5em;
    }
  }
}
