//*** HERO BANNER ***//

.hero-banner {
  width: 100%;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  background: #000;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 12%, rgba(0,0,0,0.50) 100%);
  clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 35px), calc(50% + 35px) calc(100% - 35px), 50% 100%, calc(50% - 35px) calc(100% - 35px), 0 calc(100% - 35px));

  .banner-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .banner-big-text {
      padding: 0 .2em;
      min-width: 313px;

      h2 {
        color: #fff;
        font-family: "Avenir-Black", "sans-serif";
        font-size: 5em;
        text-transform: uppercase;
        margin: 0;
        line-height: .9;
        text-align: right;

        span {
          color: $color_blue;
          display: block;
        }
      }
    }

    .banner-devices {
      min-width: 300px;
      height: 310px;
    }
  }

  .banner-text-button{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      padding: .75em 0;
      line-height: 1.5em;
      font-weight: lighter;
      font-size: 1.5em;
    }
  }
}

//*** SERVICES SECTION ***//

.homepage-services-section {
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    font-size: 1.5em;
    font-weight: 300;
    padding-bottom: 1em;
  }

  .row {
    .service {
      margin-bottom: 3em;
      padding: 0 2em;

      h1 {
        font-weight: 400;
        font-size: 1.6em;
        margin-bottom: .25em;
        padding: 0;
      }

      span {
        font-size: 1.25em;
        font-weight: 100;
      }

      p {
        text-align: left;
        line-height: 1.3em;
        margin: 2em 0;
      }
    }
  }
}

//*** CLIENT REVIEWS ***//
.homepage-client-reviews {
  background: $color-grey_light;
  border-top: 1px solid $color_blue;

  .container {
    h2 {
      text-align: center;
      font-size: 2em;
      margin-bottom: .5em;
    }
  }
}

.client-review-box.slick-slide {
  p.review-text {
    padding: 1em;
  }
  span.review-author {
    padding: 0 1em;
  }
}

.slick-slider {
  padding-bottom: 75px;
  .slick-prev, .slick-next {
      display: none !important;
  }
}

.slick-track {
  .client-review-box.slick-slide {
    height: auto;

    img {
      margin: .75em auto;
    }
  }
}

.slick-dots {
  position: absolute;
  bottom: 25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      &:hover, &:focus {
        outline: none;
        &:before {
          opacity: $slick-opacity-on-hover;
        }
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: $slick-dot-character;
        width: 20px;
        height: 20px;
        font-family: $slick-font-family;
        font-size: $slick-dot-size;
        line-height: 20px;
        text-align: center;
        color: $slick-dot-color;
        opacity: $slick-opacity-not-active;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    &.slick-active button:before {
      color: $slick-dot-color-active;
      opacity: $slick-opacity-default;
    }
  }
}

//*** LOGOS SECTION ***//
.homepage-client-logos {
  background: #fff;
  display: flex;

  .container {
    .slick-slider {
      padding: 1em 0;

      .slick-track {
        display: flex;
        align-items: center;

        li.slick-slide {
          width: auto !important;
          height: auto;

          img {
            margin: 0 30px;
          }
        }
      }
    }
  }
}

//*** HOMEPAGE CTA ***//

.homepage-cta {
  background: $color_grey_light;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em;

    h2 {
      font-size: 2em;
      font-weight: 300;
    }

    .buttons-cta {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

//*** HOMEPAGE FORM ***//
.homepage-contact-form {
  background: $color_grey_dark;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: #fff;
      font-size: 2.5em;
    }
  }
}


//*** MEDIA QUERIES ***//

@media screen and (min-width: 415px) {
  .hero-banner {
    transition: all .5s ease;
    .banner-logo {
      justify-content: center;

      .banner-big-text {
        padding: 0 1em;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .hero-banner {
    .banner-logo{
      flex-direction: row;
    }
  }

  .homepage-services-section {
    .row {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      .service {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;
        text-align: left;
        padding: 0 1em;

        .icon-service {
          width: auto;
          height: 80px;
        }

        h1 {
          font-size: 1.1em;
        }

        span {
          font-size: 1.1em;
        }
      }
    }
  }

  .client-review-box.slick-slide {
    p.review-text {
      padding: 1em 5em;
    }
    span.review-author {
      padding: 0 5em;
    }
  }

  .slick-carousel.slick-slider {
    position: relative;

    .slick-prev, .slick-next {
      display: block !important;
      position: absolute;
      top: calc(50% - 14px);
      font-size: 3em;
      color: $color_blue;
    }

    .slick-prev {
      left: 0%;
    }

    .slick-next {
      right: 0%;
    }
  }

  .homepage-cta {
    .container {
      .buttons-cta {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .hero-banner {
    .banner-logo {
      margin: auto;
    }

    .banner-text-button {
      padding: 2em 0;
      font-size: 1.5em;

      .banner-headline {
        font-size: 1.25em;
        margin: 0;
        padding: .5em;
      }
    }
  }

  .homepage-services-section {
    .row{
      .service {
        p {
          padding-right: 2em;
        }
      }
    }
  }
}
