
@font-face {
    font-family: 'Avenir-Book';
    src: url('Avenir-Book.eot?#iefix') format('embedded-opentype'),  url('Avenir-Book.woff') format('woff'), url('Avenir-Book.ttf')  format('truetype'), url('Avenir-Book.svg#Avenir-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('Avenir-Medium.eot?#iefix') format('embedded-opentype'),  url('Avenir-Medium.woff') format('woff'), url('Avenir-Medium.ttf')  format('truetype'), url('Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Black';
    src: url('Avenir-Black.eot?#iefix') format('embedded-opentype'),  url('Avenir-Black.woff') format('woff'), url('Avenir-Black.ttf')  format('truetype'), url('Avenir-Black.svg#Avenir-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('icomoon.eot?dkmytw');
    src:  url('icomoon.eot?dkmytw#iefix') format('embedded-opentype'),
    url('icomoon.ttf?dkmytw') format('truetype'),
    url('icomoon.woff?dkmytw') format('woff'),
    url('icomoon.svg?dkmytw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-thin-down:before, .icon-chevron-thin-right:before,.icon-chevron-thin-left:before   {
    content: "\e900";

}

.icon-chevron-thin-right {
    transform: rotate(270deg);
    display: block;
}

.icon-chevron-thin-left {
    transform: rotate(90deg);
    display: block;
}
